<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-offset-3 col-md-6">
      <p class="about">Kanban is a system that was used in 1940s to optimize Toyota engineering process. With minor changes it can be applied to software development. The key idea behind Kanban is to optimize the flow between amount of work in progress and teams capacity to perform work. Read more about Kanban <%= link_to 'here', 'https://www.atlassian.com/agile/kanban' %>.</p>
    </div>
  </div>
</div>
