/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require jquery-ui
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import 'rails_bootstrap_forms';


.central {
  text-align: center;
}

.danger {
  color: red;
  text-align: center;
  background-color: pink;
}

.success {
  color: white;
  text-align: center;
  background-color: green;
}

.notice {
  color: white;
  text-align: center;
  background-color: #245F73;
}

.social {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 40px;
  font-size: 120%;
}

.social a{
  border: medium solid #9c1737;
  border-radius: 5px;
  color: #9c1737;
  padding: 15px;
}

.fa {
  margin-right: 2px;
}

.about {
  margin-top: 50px;
  font-size: 120%;
}

.navbar-default .navbar-nav > li > a {
  color: white;
  font-weight: bold;
}

.navbar-default .navbar-nav > li > a:hover {
  color: white;
  font-weight: bold;

}

.navbar-default .navbar-brand {
  color: white;
  font-weight: bold;
}

.navbar-default .navbar-brand:hover {
  color: white;
  font-weight: bold;
}

.navbar-default {
  background-color: #9c1737;
}

.navbar-default .navbar-nav > .active > a {
  background-color: transparent;
}
